<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="/reveal.js/reveal.css">
<link rel="stylesheet" href="/reveal.js/theme/black.css">
<link rel="stylesheet" href="/reveal.js/plugin/highlight/monokai.css">